@import url(footer.css);
@import url(navigation-bar.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation-bar *,
.foot  *{
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.container>* {
    border-bottom: 1px solid #fff;
}

.major {
    display: flex;
    flex-direction: column;
    background: #000;
    color: #fff;
    padding: 10px 20px;
}

.major>* {
    margin: 10px 0;
}

.about-heading {
    text-transform: capitalize;
    font-size: 5.5rem;
    font-family: 'Libre Bodoni', serif;
    text-decoration: underline;
    text-align: center;
}

.about-image {
    display: flex;
    justify-content: center;
}

.aboutus-pic {
    width: 70vw;
}

.about-content>p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    /* letter-spacing: 0.2rem; */
    word-spacing: 0.3rem;
    text-align: justify;
    padding: 10px 30px;  /* i dont think this does much or what i need */
    text-indent: 4rem;
    line-height: 2rem;
}

@media screen and (max-width: 800px) {
    .about-heading {
        font-size: 10vw;
    }
}

@media screen and (max-width: 470px) {
    .about-heading {
        font-size: 2.7rem;
    }

    .navigation-bar {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
    }

    .main-links>ul {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutus-pic {
        width: 95vw;
    }

    .about-content>p {
        font-size: 1rem;
        /* letter-spacing: 0.2rem; */
        word-spacing: initial;
        text-align: justify;
        padding: 10px 5px;  /* i dont think this does much or what i need */
        text-indent: 4rem;
        line-height: 2rem;
    }
}