@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url("navigation-bar.css");
@import url("footer.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    /* background: #000; */
    /* border: 1px solid #fff; */
}

.container {
    display: grid;
    grid-template-columns: 5vw 2fr 1fr 5vw;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "navi navi navi navi"
        ". arti auth ."
        ". arti . ."
        ". sub sub ."
        "ft ft ft ft";
        background: #000;
}



.navigation-bar {
    grid-area: navi;
    border-bottom: 1px solid #fff;
}

.content {
    grid-area: arti;
    padding: 2px;
    margin-bottom: 100px;
    border: 1px solid #fff;
    border-left: none;
}

.heading {
    text-transform: capitalize;
    font-size: 5rem;
    font-family: 'Libre Bodoni', serif;
}

.article-date {
    text-transform: capitalize;
    padding-left: 10px;
}

.article-pic {
    border: 1px solid #fff;
}

.spiderman-pic {
    width: 100%;
}

.pic-description {
    font-family: 'Libre Bodoni', serif;
    font-size: 1.7rem;
    font-style: italic;
    margin-left: 10px;
}

.article-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    /* letter-spacing: 0.2rem; */
    word-spacing: 0.3rem;
    text-align: justify;
    padding: 10px 30px;  /* i dont think this does much or what i need */
    text-indent: 4rem;
    line-height: 2rem;
}

.article-content::first-letter {
    font-size: 3rem;
}

.aside-block {
    grid-area: auth;
    padding: 10px;
}

.author div {
    border-radius: 15px;
}

.author div:nth-of-type(1),
.author div:nth-of-type(2),
.author div:nth-of-type(3),
.author div:nth-of-type(4) {
    margin: 5px;
    border-bottom: 1px dotted #fff;
}

.author {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #fff;
}

.author-heading {
    text-transform: capitalize;
    font-size: 3.5rem;
}

.author-image-block {
    /* margin: 5% 25%; */
    border-radius: 15px;
    background: linear-gradient(#46d,#b6b);
}

.author-image-block .author-pic {
    width: 250px;
    border: 5px solid #000;
    border-radius: 50%;
    margin: calc(50% - 125px);
}

.author-name {
    text-transform: capitalize;
    font-size: 3rem;
    text-align: center;     /* text-align:center;  = text-indent: 25%; */
}

.author-title {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
}

.author-company {
    text-transform: capitalize;
    font-size: 3rem;
    text-align: center;
}

.author-bio {
    border-radius: 15px;
    padding: 5%;
    text-align: justify;
    font-size: large;
    margin: 5px;
}

.subscription {
    grid-area: sub;
}

.sub-form {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 15px;
    /* width: calc(100vw -1000px); */
    justify-content: center;
    align-content: center;
    padding: 5px;
    background-color: #444;
}

.form-heading {
    font-family: 'Libre Bodoni', serif;
    font-size: 3rem;
}

.form-email>input {
    color: #000;
}

.form-feedback {
    display: block;
}

textarea {
    color: #000;
}

.form-btn {
    width: 100px;
    color: #000;
}

.sub-form>:nth-child(n) {
    margin: 10px;
}

.form-email input {
    width: 400px;
}

.foot {
    grid-area: ft;
    border-top: 1px solid #fff;
}

@media screen and (max-width: 974px) {
    .heading {
        font-size: 3rem;
    }

    .pic-description {
        font-size: 1rem;
    }

    .author-image-block .author-pic {
        width: 70%;
        margin: calc(50% - 35%);
    }

    .author-heading {
        font-size: 2rem;
        font-weight: 700;
    }

    .author-name,
    .author-title,
    .author-company {
        font-size: 1.5rem;
    }

    .author-bio {
        font-size: 0.7rem;
    }

    .article-content{
        font-size: 1rem;
    }

    /* .main-links>ul>li {
        padding: 2px;
    } */

    .main-links .fa-solid {
        padding: 5px 5px;
    }
}

@media screen and (max-width: 500px) {

    .navigation-bar {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
    }

    .main-links>ul {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "navi"
        "arti"
        "auth"
        "sub"
        "ft";
        background-color: #000;
    }

    .content {
        background-color: #000;
        margin-bottom: 0px;
    }

    .heading {
        font-size: 2.5rem;
    }

    .aside-block {
        background-color: #000;
    }

    .author-heading {
        text-transform: capitalize;
        font-size: 3rem;
    }

    .subscription {
        background-color: #000;
    }
}