.foot {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.foot .fa-brands {
    font-size: 3rem;
    margin: 1rem;
}

.socials>a>.fa-brands:hover,
.foot-links>li>a:hover {
    color: #0ff;
    transition: 0.3s ease-in;
}

.foot-links {
    display: flex;
    list-style: none;
    line-height: 2rem;
    letter-spacing: 1px;
    width: 40vw;
    flex-wrap: wrap;
}

.foot-links li {
    display: inline-block;
    margin: auto;
    padding: 0.5rem;
}

.foot-links li a {
    text-decoration: none;
    text-transform: capitalize;
}

.company {
    font-size: large;
}

.company::before {
content: "a ";
text-transform: capitalize;
}