@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Bodoni:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

@import url("navigation-bar.css");

@import url("footer.css");

@import url("banner.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 90vh auto auto;
}


/* blogs section starts here */

.blogs {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 5rem calc(100vw - 5rem);
    grid-template-rows: minmax(50vh,auto);
}

.heading-lvl-1{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-family: 'open sans', sans-serif;
    font-weight: 800;
    color: #fff;
    background-color: #000;
    text-align: center;
    height: inherit;
}

.blog-container-grid {
    background: linear-gradient(#eeb,#ddd);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 30px 30px;
    place-content: center center;
    place-items: center center;
    padding: 40px 100px;
}

.blog-container-grid-items {
    border-radius: 20px;
    overflow: hidden;
}

.blog-container-grid-items:hover {
    box-shadow: 0px 5px 5px 5px #444;
    transition: 0.4s ease-out;
}

.card {
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: minmax(200px,1fr);
    background: #000;
}

.card>img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
}

.content {
    height: 20vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .movie-title {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'libre bodoni', serif;
    letter-spacing: 4px;    
}

.content .summary {
    text-align: justify;
    font-family: 'courier prime', monospace;
    color:#aaa;
}

.content .card-btn {
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

.content .card-btn a {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}

.content .card-btn:hover {
    transform: translate(0,2px);
    transition: 0.4s;
}

@media screen and (max-width: 1150px) {
    .banner-heading {
        font-size: 3rem;
        line-height: 3rem;
    }
    .content .summary {
        display: none;
    }
}

@media screen and (max-width: 712px){
    .banner-heading {
        width: fit-content;
        height: fit-content;
    }

    .banner-heading q {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .blogs {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem auto;
    }

    .heading-lvl-1 {
        writing-mode: horizontal-tb;
        text-orientation: initial;
    }

    .main-links .fa-solid {
        padding: 5px 0px;
        display: none;
    }

    .search-tool {
        border-radius: 5px;
    }

    .logo-text {
        font-size: large;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .navigation-bar {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .logo-text {
        font-size: larger;
    }

    .main-links>ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {
        width: initial;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .banner-heading {
        width: auto;
        height: auto;
    }

    .website-name {
        display: none;
    }

    .banner-heading>q {
        font-size: small;
    }
}