@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Bodoni:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

@import url("navigation-bar.css");

@import url("footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 90vh auto auto;
}

/* banner  section starts here*/

.banner {
    width: 100vw;
    height: 90vh;
    background: url(../images/banner3.jpg) center/cover;
    /* position: relative; */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 5fr 5rem 7rem;
    grid-template-rows: 5vh 45vh 5vh 10vh 25vh;
    grid-template-areas:
        ". . . . name"
        ". . heading . name"
        ". . . . name"
        ". . searching . name"
        ". . . . name";
    border: 5px solid green;
}

.website-name {
    background: #000;
    opacity: 0.8;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 7rem;
    height: inherit;
    text-transform: uppercase;
    font-size: 8vh;
    font-weight: bold;
    border: 1px solid #fa0;
    /* position: absolute;
    right: 0;
    top: 0; */
    grid-area: name;
    letter-spacing: 1px;
    text-align: center;
}

.banner-heading {
    /* width: 70vw; */
    /* height: auto; */
    background: #000;
    opacity: 0.8;
    text-align: center;
    font-family: 'libre bodoni', serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3.5rem;
    /* line-height: 3.5rem; */
    /* letter-spacing: 3px; */
    /* position: absolute;
    left: 14%;
    top: 20%; */
    grid-area: heading;
    /* margin: 0 auto 0 auto; */
    /* transform: translate(-50%, -50%); */
    border: 0.1rem solid #fa0;
    padding: 2%;
    color: #fa0;
    overflow: hidden;
}

.search-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:  absolute;
    bottom: 20%;
    left: 50%; */
    grid-area: searching;
    /* transform: translateX(-50%); */
    background-color: #444;
    /* width: 100%; */
    height: 5rem;
    border-radius: 45px;
}


.search-text {
    width: 80%;
    line-height: 40px;
    border-radius: 45px 0 0 45px;
    color: #000;
    padding-left: 0.5rem;
    font-size: large;
    color: #000;
}

.search-btn {
    width: 3.5rem;
    line-height: 40px;
    border-radius: 0 45px 45px 0;
    background-color: #000;
    cursor: pointer;
}

.search-btn .fa-solid {
    font-size: 15px;
}

.search-btn:hover {
    background-color: #ffaa00;
    transition: 0.3s linear;
}

/* blogs section starts here */

.blogs {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 5rem calc(100vw - 5rem);
    grid-template-rows: minmax(50vh,auto);
    /* border: 2px solid green; */
}

.heading-lvl-1{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-family: 'open sans', sans-serif;
    font-weight: 800;
    color: #fff;
    background-color: #000;
    text-align: center;
    height: inherit;
}

.blog-container-grid {
    background: linear-gradient(#eeb,#ddd);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 30px 30px;
    place-content: center center;
    place-items: center center;
    padding: 40px 100px;
}

.blog-container-grid-items {
    /* place-self: center center; */
    border-radius: 20px;
    overflow: hidden;
}

.blog-container-grid-items:hover {
    box-shadow: 0px 5px 5px 5px #444;
    transition: 0.4s ease-out;
}

.card {
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: minmax(200px,1fr);
    background: #000;
}

.card>img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
}

.content {
    height: 20vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .movie-title {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'libre bodoni', serif;
    letter-spacing: 4px;    
}

.content .summary {
    text-align: justify;
    font-family: 'courier prime', monospace;
    color:#aaa;
}

.content .card-btn {
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

.content .card-btn a {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}

.content .card-btn:hover {
    transform: translate(0,2px);
    transition: 0.4s;
}

@media screen and (max-width: 1150px) {
    .banner-heading {
        font-size: 3rem;
        line-height: 3rem;
    }
    .content .summary {
        display: none;
    }
}

@media screen and (max-width: 712px){
    .banner-heading {
        font-size: 1.5rem;
        line-height: 2rem;
        width: fit-content;
        height: fit-content;
    }

    .blogs {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem auto;
    }

    .heading-lvl-1 {
        writing-mode: horizontal-tb;
        text-orientation: initial;
    }

    .main-links .fa-solid {
        padding: 5px 0px;
        display: none;
    }

    .search-tool {
        border-radius: 5px;
    }

    .logo-text {
        font-size: large;
    }
}

@media screen and (max-width: 480px) {

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .navigation-bar {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .logo-text {
        font-size: larger;
    }

    .main-links>ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner {
        width: initial;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /* background: linear-gradient(#51b,#dd5); */
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "heading"
            "searching"; */
    }

    .banner-heading {
        width: auto;
        height: auto;
    }

    .website-name {
        display: none;
    }

    .banner-heading {
        font-size: small;
    }
}