* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
/* navigation bar */
.navigation-bar {
    /* background: linear-gradient(#000, #000); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 1.2rem;
    font-size: 1.5rem;
}

.logo-text {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

.logo-text:hover,
.logo .fa-feather-pointed:hover {
    transition: 0.6s linear;
    color :#fa0;
}

.main-links>ul {
    width: 50vw;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.main-links>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 5px;
}

.main-links .fa-solid {
    padding: 10px 5px;
}

.icons {
    margin: 0.5rem;
}

.main-links>ul>li {
    border: 1px solid transparent;
    border-radius: 6px;
}

.main-links>ul>li:hover {
    border-color: #fa0;
    transition: 0.5s ease-out;
}
/* banner */
.banner {
    width: 100vw;
    height: 90vh;
    background: url(../images/banner3.jpg) center/contain;
    position: relative;
}

.website-name {
    background: #000;
    opacity: 0.8;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 7rem;
    height: auto;
    text-transform: uppercase;
    font-size: 4.4rem;
    font-weight: bolder;
    border: 1px solid #fa0;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.banner-heading {
    width: 50vw;
    height: auto;
    background: #000;
    opacity: 0.8;
    text-align: right;
    font-size: xx-large;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    line-height: 3rem;
    text-transform: capitalize;
    border: 0.1rem solid #fa0;
    padding: 0.5rem;
}

.search-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    position:  absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(72, 71, 71, 0.9);
    width: 60%;
    height: 5rem;
    border-radius: 45px;
}


.search-text {
    width: 80%;
    line-height: 40px;
    border-radius: 45px 0 0 45px;
    color: #000;
    padding-left: 0.5rem;
}

.search-btn {
    width: 3.5rem;
    line-height: 40px;
    border-radius: 0 45px 45px 0;
    background-color: #000;
    cursor: pointer;
}

.search-btn .fa-solid {
    font-size: 15px;
}

.search-btn:hover {
    background-color: #ffaa00;
    transition: 0.3s linear;
}

/* blogs */

.blogs {
    margin-top: 2px;
    /* width: 100vw;
    height: minmax (60vh,auto); */
    border: 1px solid red;
    display: grid;
    grid-template-columns: 5rem calc(100vw - 5rem);
    grid-template-rows: minmax(50vh,auto);
}

.heading-lvl-1{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #fff;
    background-color: #000;
    text-align: center;
    height: inherit;
}

.blog-container-grid {
    background: linear-gradient(#eeb,#ddd);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px 20px;
    place-content: center center;
    place-items: center center;
    padding: 20px 20px;
}

.blog-container-grid-items {
    /* place-self: center center; */
    border-radius: 20px;
    overflow: hidden;
}

.blog-container-grid-items:hover {
    box-shadow: 0px 5px 5px 5px #fa0;
    transition: 0.4s ease-out;
}

.card {
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    grid-template-rows: minmax(200px,1fr);
    background: #000;
}

.card>img {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
}

.content {
    height: 20vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .movie-title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.content .summary {
    text-align: justify;
}

.content .card-btn {
    padding: 5px;
    margin: auto;
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.content .card-btn:hover {
    transform: translate(0,2px);
    transition: 0.4s;
}

/* cards transitions */

/* footer */

.foot {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.foot .fa-brands {
    font-size: 3rem;
    margin: 1rem;
}

.socials>a>.fa-brands:hover,
.foot-links>li>a:hover {
    color: #0ff;
    transition: 0.3s ease-in;
}

.foot-links {
    display: flex;
    list-style: none;
    line-height: 2rem;
    letter-spacing: 1px;
    width: 40vw;
    flex-wrap: wrap;
}

.foot-links li {
    display: inline-block;
    margin: auto;
    padding: 0.5rem;
}

.foot-links li a {
    text-decoration: none;
    text-transform: capitalize;
}

.company {
    font-size: large;
}

.company::before {
content: "a ";
text-transform: capitalize;
}